<h1>TODO HOME</h1>

<form action="/new" method="post">
  제목: <input type="text" name="title" />
  <br />
  내용: <input type="text" name="content" />
  <br />
  <button type="submit">저장</button>
</form>

<hr />

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th colspan="3">조작</th>
  </tr>
  </thead>

  <tbody>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.content %></td>
      <td><a href="/detail/<%= todo.id %>">상세</a></td>
      <td><a href="/edit/<%= todo.id %>">수정</a></td>
<!--      <td><%#= link_to "수정", edit(todo) %></td>-->
<!--      <td><%#= link_to "삭제", todo, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>