<center>
  <h1>
    test.erb
    =을 설정하면 변수를 노출해주고
    =을 설정하지 않으면 변수는 사용 가능하지만 노출 안됨
    <%= @temp %>

    <% if @condition %>
      <p>참입니다.</p>
    <% else %>
      <p>거짓입니다.</p>
    <% end %>
  </h1>
</center>